<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">List of Persons</h1>

    <a href="/persons/create" class="btn btn-primary mb-3">Create New Person</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Birthdate</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person.idPerson}"></td>
            <td th:text="${person.fullName}"></td>
            <td th:text="${person.birthdate}"></td>
            <td th:text="${person.gender.name}"></td>
            <td>
                <a th:href="@{'/persons/delete/' + ${person.idPerson}}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
